{% extends "base.html" %}
{% block head_title %}Home{% endblock head_title %}   
{% block links_title %}
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"> #}

        {% endblock links_title %}
{% block content %}

<div class="page-header">
<h1>The Test Project<small>. see what i have made </h1>
   </div> 	
<div class="jumbotron">
  
  <div class ="card-panel teal lighten-2">
            
                <a href={{post_last.get_absoulute_url}}><h2>{{post_last.title}}</h2></a>
                <p>{{post_last.content|linebreaks}}</p>
                <p>{{post_last.timestamp}}</p>
                {% if user.is_superuser or user.is_staff %}
                    <a href={{post_last.update_url_post}}>Updating the post </a>
                {% endif %}
                {% if post_last.image %}
                    <a href="#" class="thumbnail">
                        <img src="{{post_last.image.url}}" alt="...">
                    </a>
                {% endif %}

            </div>
{% endblock content%}