<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
    h1 {
        background-color: black;
        color: red;
    }
    
    
    div {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
    } 

    
        
    </style>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
            
    <ol>
    	   {% for x in list%}
    		<div>
            <a href={{x.get_absoulute_url}}><h1>{{x.title}}</h1></a>

            <cite>the id of the post:</cite><p>{{x.name_val}}</p>
    		<p>{{x.croping}}</p>
    		<p>{{x.updated}}</p>
    		<p>{{x.timestamp}}</p>
            <a href={{x.update_url_post}}>Updated your post</a>
            <a href={{x.delete_url}}>delete your post</a>
            </div>
    	   {% endfor %}
    </ol>
    <a href="{% url 'post:create' %}">Create a new Page</a>
</body>
</html>