{% extends "base.html" %}
{% block head_title %}detail{% endblock head_title %}   
{% block content %}



        

            <div class ="#f48fb1 pink lighten-3">
                <h2>{{instance.title}}</h2>
                <p>{{instance.content|linebreaks}}</p>
                <p>{{instance.timestamp}}</p>
                <a href={{instance.update_url_post}}>Updating the post </a>
                {% if instance.image %}
                    <img class="responsive-img" src="{{instance.image.url}}">
                {% endif %}
            </div>
    }

        
        <a href="{% url 'post:list' %}">Go back to the list</a>
    
{% endblock content%}