{% extends "base.html" %}
{% block content %}
    {% block head_title %}My lists{% endblock head_title %}
       
            
    <ol>
    	   {% for x in list%}
    		<div>
            <a href={{x.get_absoulute_url}}><h1>{{x.title}}</h1></a>

            <cite>the id of the post:</cite><p>{{x.name_val}}</p>
    		<p>{{x.croping}}</p>
    		<p>{{x.updated}}</p>
    		<p>{{x.timestamp}}</p>
            <a href={{x.update_url_post}}>Updated your post</a>
            <a href={{x.delete_url}}>delete your post</a>
            </div>
    	   {% endfor %}
    </ol>
    <a href="{% url 'post:create' %}">Create a new Page</a>
{% endblock content%}