{% extends "base.html" %}
{% block head_title %}detail{% endblock head_title %}   
{% block links_title %}
{% endblock links_title %}
{% block content %}
{% load urlfy %}

 Author: {{instance.author.get_full_name}}
        
        <div class="jumbotron">
            <div class ="#f48fb1 pink lighten-3">
                <h2>{{instance.title}}</h2>
                <p>{{instance.content|linebreaks}}</p>
                <p>{{instance.publish}}</p>
               
             <!--   {% if  user.is_superuser or user.is_staff %}
                    <a href={{instance.update_url_post}} class="btn btn-primary">Updating the post </a>
                {% endif %} -->
                
                {% if instance.image %}
                    <a href="#" class="thumbnail">
                        <img src="{{instance.image.url}}" alt="...">
                     </a>
                {% endif %}


                <!-- the share buttons for most of the servers  -->
                <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" class="btn btn-info">
                    Share on Facebook
                </a>
                {{share_string}}
                <a href="https://twitter.com/home?status={{instance.content|urlfy}}%20{{request.build_absolute_uri}}" class="btn btn-info">
                     Share on Twitter
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.title|urlfy}}&summary={{instance.content|urlfy}}&source={{request.build_absolute_uri}}" class="btn btn-info">
                    Share on Linkedin
                </a>
                
                </div>
            </div>
             
<!--          this is the like botton for our page that we created --> 
<div id="like">  
    <button class="btn" onclick="ajax_like2()">
        <span id="likes_count">{{like_count}}</span>
        <span id="heart" class="glyphicon glyphicon-heart {% if liked %}text-danger{% endif %}" aria-hidden="true"></span>
    </button>
    {% if request.user.is_authenticated %}       
    {% include 'django_comments.html' %}
    {% else %}
        <h3>login to post</h3>
    {% endif %} 
</div> 

<!-- The Facebook like/dislike and the comments using facebook  -->

<div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>
<!-- the end of facebook  -->


<!-- a script using jquery for our like button   -->


<script>
    function ajax_like2()
    {
        console.log("Like/Unlike clicked!");
        $.ajax({
            type:'GET',
            url:'{% url "post:like_botton" post_id=instance.id %}',
            error:function(){
                console.log("noob")

            },
            success:function(data){
                $("#likes_count").text(data.like_count);
                if(data.action==="like")
                {
                    $("#heart").addClass("text-danger")
                }else{
                    $("#heart").removeClass("text-danger")

                }

            },

        });

    }

</script>

{% endblock content%}